doctype html
html
  head
    title!= title
  body
    h1!= message
    div
      a(href='#') Home
      a(href='#admin') Admin
    #app
    script(
      type="text/javascript"
      src="/vendor-3e8b1bf87296db01381f.js"
    )
    script(
      type="text/javascript"
      src="/app-4559292ebde25ab17195.js"
    )