doctype html
html
  head
    title!= title
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0")
    link(rel="stylesheet" href="#{css('vendor')}")
    link(rel="stylesheet" href="#{css('app')}")
  body
    #app
    script(src="#{script('vendor')}")
    script(src="#{script('app')}")
